/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20.10.2020, 11:01:03
    Author     : kainz
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');

body,
html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Raleway';
    background-color: #6B0518; 
}

* {
    font-family: 'Raleway' !important;
    color: white;
}

h1 {
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding-top: 2%;
}

form {
    width: 100%;
    height: auto;
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;

}

.backButton { 
    background-color: black;
    color: white;
    padding: 6px 8px;
    font-size: 15px;
    transition: all 300ms;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    margin-left: 10px;
    text-decoration: none;
}

.backButton:hover {
    background-color: white;
    color: black;
}

.header {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    width: auto;
    max-width: 40%;
}

.item1 {
    grid-column: 1 / 4;
}

.pizzaOrder {
    padding-top: 2%;
}