/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02.03.2021, 10:37:01
    Author     : kainz
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');


body,
html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Raleway';
}

.feedContainer {
    height: auto;
    width: 100%;
    padding-top: 2%;
}

.feedList {
    height: auto;
    min-width: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.feedObject {
    height: auto;
    min-width: 50%;
    max-width: 50%;
    padding: 1% 3% 0.5% 1%;
    box-shadow: 7px 7px 3.5px grey;
    margin-bottom: 2%;
    background-color: #92140C;
    color: #FFF8F0;
}

.feedObject2 {
    height: auto;
    min-width: 50%;
    max-width: 50%;
    padding: 1% 3% 0.5% 1%;
    box-shadow: 7px 7px 3.5px grey;
    margin-bottom: 2%;
    background-color: darkblue;
    color: #FFF8F0;
}

img {
    max-width: 200px; 
    height: auto;
    padding-top: 5%;
}

.noPicture {
    max-width: 80px; 
    height: auto;
    padding-top: 5%;
}

.buttonClass {
    background-color: black;
    color: white;
    transition: all 300ms;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
    cursor: pointer;
}

.buttonClass:hover {
    background-color: white;
    color: black;
}

button:focus {
    outline: none !important;
}

.buttonDirection {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
}

td {
    padding-top: 0.7%;
}

.header {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
    padding-bottom: 0.5%;
}

h1 {
    color: #FFF8F0;
}