/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.11.2020, 12:22:01
    Author     : kainz
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Raleway';
}

h1 {
    padding: 0;
    margin: 0;
    color: white;
}

.header {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1% 0px 1% 0px;
    background-color: black;
}

.contactTableContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-top: 1%;
}

.contactTable {
    border-collapse: collapse;
    border: 3px solid black;
}

tr {
    border-bottom: 3px solid black;

}

.tableHeader {
    padding: 1% 2% 1% 2%;
    background-color: black;
    color: white;
}

.contactElement {
    padding: 0.5% 0px 0.5% 0px;
    color: black;
}

.contactElementGray {
    padding: 0.5% 0px 0.5% 0px;
    background-color: lightgray;
    color: black;
}

.sortFilterContainer {
    padding-top: 1%;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: left;
    
}    


.buttonGroup {
    display: flex;
    justify-content: center;
    align-content: center;
}

.borderContainer {
    border: 3px solid black;
    min-width: 21%;
    border-bottom: none;
    background-color: lightgray;
    padding: 0.5%;
}

.buttonBorder {
    border: 3px solid black;
    min-width: 21%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0.5%;
    border-top: none;
    background-color: lightgray;
    
}

.selectors {
    border: 0px;
    outline: 0px;
    box-sizing: border-box;
    border-bottom: solid 3px black;
    cursor: pointer;
    padding: 3px 4px;
}

.textfield {
    border: 0px;
    outline: 0px;
    box-sizing: border-box;
    border-bottom: solid 3px black;
    padding: 6px 8px;
}

.buttonClass {
    background-color: black;
    color: white;
    transition: all 300ms;
    cursor: pointer;
    border: none;
    padding: 6px 8px;
    font-size: 15px;
}

input:focus {
    outline: none !important;
}

.buttonClass:hover {
    background-color: white;
    color: black;
}