/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28.09.2020, 09:02:52
    Author     : kainz
*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');

body,html{
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Raleway';
    /*background-color: #CED0CE; #F15025 60g6ca*/
    background-color: #FFF;
}

* {
    font-family: 'Raleway' !important;
}

h1{
    text-align: center;
    padding-bottom: 2%;
}

form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
}

.list{
    background-color: #f5f5f5;
    width: 50%;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px #888;
    padding-bottom: 1%;
    padding-top: 1%;
}
.filter{
    display: flex;
    justify-content: center;
}

.filterTable{
    align-self: center;
}

.details{
    display: flex;
    justify-content: center;
}

.detailsTable{
    align-self: center;
    padding-top: 2%;
    padding-right: 4%;
}

.image{
    padding-top: 1.5%;
    padding-right: 8%;
}

.button{
    background-color: #6197CD;
    color: white;
    padding: 10px 15px;
    font-size: 15px;
    transition: all 300ms;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    margin-left: 15px;
}

.button:hover {
    opacity: .7;
}

.selector{
    cursor: pointer;
}

input,
select{
    font-size: 15px;
    padding: 10px 15px;
    box-sizing: border-box;
    border: none;
    border-bottom: solid 2px #6197CD;
    margin-bottom: 10px;
}

input:focus,
select:focus{
    outline: none !important;
}