/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28.09.2020, 09:02:52
    Author     : kainz
*/

body,html{
    background-color: white;
    width: 100%;
    height: 100%;
}

.list{
    padding-top: 15%;
    background-color: lightgray;
}
.filter{
    display: flex;
    justify-content: center;
}

.filterTable{
    align-self: center;
}

.details{
    display: flex;
    justify-content: center;
}

.detailsTable{
    align-self: center;
    padding-top: 2%;
    padding-right: 4%;
}

.image{
    padding-top: 2.5%;
    padding-right: 6%;
}