/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22.12.2020, 10:20:03
    Author     : kainz
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');

body,
html {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    font-family: 'Raleway';
    background-color: #1E1E24;
    /*111D4A option 1
    #FFCF99 option 2*/
}


h1 {
    margin: 0px;
    padding: 0px;
    color: #FFF8F0;
}

.header {
    height: auto;
    width: 100%;
    background-color: #1E1E24;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1% 0px 0px 0px;
}

.searchContainer {
    height: auto;
    width: 100%;
    background-color: #1E1E24;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2% 0px 0px 0px;
}

.controllerContainer {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 2%;
}

.controller {
    height: auto;
    max-width: 50%;
    padding: 2%;
    box-shadow: 3px 3px 3px 3px grey;
    background-color: #92140C;
}

.movieListContainer {
    height: auto;
    width: 100%;
    padding-top: 2%;
}

.movieList {
    height: auto;
    min-width: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.movieObject{
    height: auto;
    min-width: 50%;
    max-width: 50%;
    padding: 1% 3% 0.5% 1%;
    box-shadow: 7px 7px 3.5px grey;
    margin-bottom: 2%;
    background-color: #92140C;
    color: #FFF8F0;
}

img {
    max-width: 100px; 
    height: auto;
    padding-left: 2%;
}

.buttonDirection {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
}

.textClass {
    text-align: center;

}

.textSpace {
    max-width: 25%;
}

.textTable {
    table-layout: fixed;
    width: 100%;
}

.sortSection {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.filterSection {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.buttonClass {

}

.buttonFilter {
    padding-left: 3%;
}

.buttonSort {
    padding-left: 6%;
}