/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04.11.2020, 11:32:46
    Author     : kainz
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    background-color: #E5FFDE; 
}

h1{
    margin: 0;
    text-align: center;
    padding-top: 1%;
}

.className {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.header {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 2%;
}

p {
    margin: 0;
    padding: 0;
}

.timetableContainer {
    padding-top: 2%;
    display: flex;
    align-content: center;
    justify-content: center;

}

.timetable {
    border-collapse: collapse;
    border: 1px solid black;
}

.timetableHeaderDays {
    background: #C5C3C6;
    text-align: center;
    border: 1px solid black;
    font-weight: bold;
    padding: 5px;
}

.timetableLesson {
    background: #C5C3C6;
    text-align: center;
    border: 1px solid black;
    font-weight: bold;
    font-size: small;
    padding: 2px;
}

.subjectElement {
    border: 1px solid black;
    background-color: white;
    padding: 5px;
    text-align: left;
}

.subject {
    font-weight: bold;
}

.subjectSubstitution {
    font-weight: bold;
    color: red;
}

.teacherSubstitution {
    color: red;
}


.selectors {
    border: 0px;
    outline: 0px;
    box-sizing: border-box;
    border-bottom: solid 3px #C5C3C6;
    cursor: pointer;
    padding: 6px 8px;
}

.textfields {
    border: 0px;
    outline: 0px;
    box-sizing: border-box;
    border-bottom: solid 3px #C5C3C6;
    padding: 6px 8px;
}

input:focus {
    outline: none !important;
}

.buttonSubmit {
    background-color: #C5C3C6;
    color: white;
    transition: all 300ms;
    cursor: pointer;
    border: none;
    padding: 6px 8px;
    font-size: 15px;
}

.buttonContainer {
    padding-top: 1%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.buttonSubmit:hover {
    background-color: white;
    color: black;
}

.errorMessageSubject {
    display: flex;
    justify-content: center;
    text-align: center;
}

.errorMessages {
    color: red;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
}

.errorMessage {
    color: red;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
    display: none;
}